@import "variables";
@import"mixins";
body {
  margin: 0;
  padding: 0;
  background-color: $color_terciario;
  font-family: $fuente_base;
  color: $color_base;
}

/*SIDEBAR */
.logout-btn {
  margin-left: auto;
  color: white;
  text-decoration: none;
  padding: 8px 15px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: $color_base;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
  z-index: 100;
}

.sidebar a {
  padding: 15px 25px;
  display: block;
  color: $color_terciario;
  text-decoration: none;
  font-size: 18px;
  transition: background 0.2s;
}

.sidebar a:hover {
  background-color: $color_base;
  color: $color_terciario;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: $color_terciario;
  background: none;
  border: none;
  cursor: pointer;
}

/* MAIN*/
#main {
  transition: margin-left 0.3s;
  padding: 20px;
}

/* Topbar */
.topbar {
  display: flex;
  align-items: center;
  background: $color_secundario;
  color: $color_base;
  padding: 10px 20px;
  border-radius: 8px;
}

.menu-btn {
  font-size: 24px;
  background: none;
  color: $color_terciario;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.quiz-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}
.progress-bar {
  width: 100%;
  background: #ddd;
  border-radius: 20px;
  margin-bottom: 20px;
  height: 12px;
}
.progress-fill {
  width: 0%;
  height: 100%;
  background: #57a1ff;
  border-radius: 20px;
  transition: 0.3s;
}
.question {
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: bold;
}
.options button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #444;
}
.correct {
  background: #4caf50 !important;
  color: white;
}
.wrong {
  background: #e74c3c !important;
  color: white;
}

.btn-volver {
  display: inline-block;
  padding: 12px 20px;
  background-color: $color_secundario;
  color: $color_base;
  font-family: $fuente_secundaria;
  font-size: 16px;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 15px;
  transition: 0.2s;

  &:hover {
    background-color: lighten($color_secundario, 10%);
  }
}
